//====================================================================================================
.footer {
    background-color: #FAF8F6;
    // .footer__container

    &__container {
        @include adaptiveValue("padding-top",70 ,40 );
        @include adaptiveValue("padding-left",168 ,20 );
        @include adaptiveValue("padding-bottom",74 ,40 );
        display: flex;

    }
    &__br{
        @media (max-width:$mobile){
             display: none; 
        }
    }
    &__coorp{
        
        font-style: normal;
        font-weight: 400;
        font-size: rem(12);
        line-height: rem(16);
        color: #000000;
        opacity: 0.3;
    }

    // .footer__logo

    &__logo {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap",59 ,30 );
    }

    // .footer__icon

    &__icon {
    }

    // .footer__shop

    &__shop {
        @include adaptiveValue("padding-left",270 ,20 );
    }

    // .footer__title

    &__title {
        font-family: 'Effra';
        font-style: normal;
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(45);
        color: #000000;
    }

    // .footer__list

    &__list {
        line-height: rem(21);
    }

    // .footer__item

    &__item {
        font-weight: 400;
        font-size: rem(14);
        margin: rem(10) rem(0);
        color: #000000;
        opacity: 0.5;
    }

    // .footer__information

    &__information {
        @include adaptiveValue("padding-left",161 ,16 );
    }

    // .footer__contact

    &__contact {
        @include adaptiveValue("padding-left",183 ,16 );

    }

    // .footer__email

    &__email {
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(35);
        color: #000000;
        opacity: 0.5;
        text-decoration: none;
    }

    // .footer__social

    &__social {
        display: flex;
        align-items: center;
        gap: rem(10);
        margin-top: rem(10);


    }

    // .footer__link

    &__link {
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(19);
        color: #000000;
        opacity: 0.5;
    }
}
.shop {

    // .shop__blok

    &__blok {
        display: flex;
        gap: rem(45);
    }

    // .shop__left

    &__left {
    }

    // .shop__right

    &__right {
    }
}

//====================================================================================================
