.find {
           transform: translateY(rem(-110));
            top: 0;
            left: 0;
            @media (max-width:$mobile){
                    padding-top: rem(39)      ;
            }
           
      // .find__content

      &__content {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            @media (max-width:$mobile){
                  display: flex;
                  flex-direction: column;  
            }
      }

      // .find__left

      &__left {
            @include adaptiveValue("padding-top",262 ,105 );
            @include adaptiveValue("padding-left",181 ,0 );
            padding-right: rem(38);
      @media (max-width:$mobile){
                   padding-right: rem(5); 
                
      }
      }

      // .find__container

      &__container {
      }

      // .find__text

      &__text {
      }

      // .find__title

      &__title {
            font-family: 'Effra';
            font-style: normal;
            font-weight: 500;
            @include adaptiveValue("font-size",56 ,24 );
            @include adaptiveValue("line-height",68 ,29 );
            span{
                  color: #ED815E;

            }
            @media (max-width:$mobile){
                   text-align: center; 
                   font-weight: 500;
                   font-size: rem(24);
                   line-height: rem(29);
            }
      }

      // .find__subtitle

      &__subtitle {
            font-style: normal;
            font-weight: 400;
            @include adaptiveValue("font-size",20 ,14 );
            @include adaptiveValue("line-height",33 ,23 );
            color: #808080;
            @include adaptiveValue("padding-right",150 ,0 );;
            @include adaptiveValue("padding-top",34 ,11 );
            @media (max-width:$mobile){
                   padding-right: rem(0);
                    font-weight: 400;
                        font-size: rem(14);
                        line-height: rem(23);
                        font-weight: 400;
                        text-align:center;
            }
            
      }

      // .find__actions

      &__actions {
            display: flex;
            align-items: center;
            @include adaptiveValue("margin-top",49 ,21 );
            gap: rem(31);
            @media (max-width:$mobile){
                   flex-direction: column;
                   gap: rem(21); 
            }
      }

      // .find__right

      &__right {
            background-color: #F9F9F9;
            position: relative;
           
      }

      // .find__image

      &__image {
            @include adaptiveValue("padding-top",162 ,0);
            z-index: 5;
            position: relative;
            @media (max-width:$mobile){
                   padding-top: rem(0); 
            }
      }

      // .find__circle-big

      &__circle-big {
            @include adaptiveValue("width",523 ,300 );
            @include adaptiveValue("height",523 ,300 );
            position: absolute;
            top: rem(218);
            left: rem(189);                           
            background-color: #8172DD;
            border-radius: 50%;
         
            @media (max-width:$mobile){
                   display: none; 
            }

      }
      &__img{
         

      }
      &__decor-1{
            position: absolute;
            top: 0;
            left: rem(552);
            @media (max-width:$mobile){
                   width: rem(76);
                   height: rem(76); 
                   top: rem(259);
                   left:rem(301) ;
                   transform: rotate(-180deg);
                
            }
      }
      &__decor-2{
            position: absolute;
            top: rem(782);
            left: rem(760);
            @media (max-width:$mobile){
                   width: rem(140);
                   height: rem(70);
                   top: rem(381);
                   left: rem(-65); 
            }
      }
      // .find__circle-small

      &__circle-small {
            width: rem(95);
            height: rem(95);
            border-radius: 50%;
            background-color: #FFCA78;
            position: absolute;
            top: rem(171);
            right: rem(74);
            z-index: 5;
            @media (max-width:$mobile){
                   right: rem(30);
                   top: rem(311);
                   width: rem(60);
                   height: rem(60);
            }
      }
}
//////////////////////////////////////////////////////////////////
.heatly {
      transform: translateY(rem(-110));
      position: relative;
      // .heatly__content

      &__content {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            position: relative;
      }

      // .heatly__top

      &__top {
            @include adaptiveValue("width", 900,500 );
            @include adaptiveValue("height",960 ,375 );
            background:url(../img/heatly/bg-des.png);
            position: relative;
            @media (max-width:$mobile){
                 width :rem(375);
                 height: rem(198);
                 background: url(../img/heatly/bg-mob.png);
            }

      }

      // .heatly__circle

      &__circle {
      }

      // .heatly__title

      &__title {
            font-family: 'Effra';
            font-style: normal;
            font-weight: 500;
            @include adaptiveValue("font-size",56 ,24 );
            @include adaptiveValue("line-height", 68, 29);
            color: #FFFFFF;
      }

      // .heatly__bottom

      &__bottom {
      }

      // .heatly__container

      &__container {
      }

      // .heatly__information

      &__information {
      }

      // .heatly__blok

      &__blok {
      }

      // .heatly__subtitle

      &__subtitle {
      }

      // .heatly__decor-1

      &__decor-1 {
      }

      // .heatly__decor-2

      &__decor-2 {
      }
}





