.find {
           transform: translateY(rem(-110));
            top: 0;
            left: 0;
            @media (max-width:$mobile){
                    padding-top: rem(39)      ;
            }
           
      // .find__content

      &__content {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            @media (max-width:$mobile){
                  display: flex;
                  flex-direction: column;  
            }
      }

      // .find__left

      &__left {
            @include adaptiveValue("padding-top",262 ,105 );
            @include adaptiveValue("padding-left",181 ,0 );
            padding-right: rem(38);
      @media (max-width:$mobile){
                   padding-right: rem(5); 
                
      }
      }

      // .find__container

      &__container {
      }

      // .find__text

      &__text {
      }

      // .find__title

      &__title {
            font-family: 'Effra';
            font-style: normal;
            font-weight: 500;
            @include adaptiveValue("font-size",56 ,24 );
            @include adaptiveValue("line-height",68 ,29 );
            span{
                  color: #ED815E;

            }
            @media (max-width:$mobile){
                   text-align: center; 
                   font-weight: 500;
                   font-size: rem(24);
                   line-height: rem(29);
            }
      }

      // .find__subtitle

      &__subtitle {
            font-style: normal;
            font-weight: 400;
            @include adaptiveValue("font-size",20 ,14 );
            @include adaptiveValue("line-height",33 ,23 );
            color: #808080;
            @include adaptiveValue("padding-right",150 ,0 );;
            @include adaptiveValue("padding-top",34 ,11 );
            @media (max-width:$mobile){
                   padding-right: rem(0);
                    font-weight: 400;
                        font-size: rem(14);
                        line-height: rem(23);
                        font-weight: 400;
                        text-align:center;
            }
            
      }

      // .find__actions

      &__actions {
            display: flex;
            align-items: center;
            @include adaptiveValue("margin-top",49 ,21 );
            gap: rem(31);
            @media (max-width:$mobile){
                   flex-direction: column;
                   gap: rem(21); 
            }
      }

      // .find__right

      &__right {
            background-color: #F9F9F9;
            position: relative;
           
      }

      // .find__image

      &__image {
            @include adaptiveValue("padding-top",162 ,0);
            z-index: 5;
            position: relative;
            @media (max-width:$mobile){
                   padding-top: rem(0); 
            }
      }

      // .find__circle-big

      &__circle-big {
            @include adaptiveValue("width",523 ,300 );
            @include adaptiveValue("height",523 ,300 );
            position: absolute;
            top: rem(218);
            left: rem(189);                           
            background-color: #8172DD;
            border-radius: 50%;
         
            @media (max-width:$mobile){
                   display: none; 
            }

      }
      &__img{
         

      }
      &__decor-1{
            position: absolute;
            top: 0;
            left: rem(552);
            @media (max-width:$mobile){
                   width: rem(76);
                   height: rem(76); 
                   top: rem(259);
                   left:rem(301) ;
                   transform: rotate(-180deg);
                
            }
      }
      &__decor-2{
            position: absolute;
            top: rem(782);
            left: rem(760);
            @media (max-width:$mobile){
                   width: rem(140);
                   height: rem(70);
                   top: rem(381);
                   left: rem(-65); 
            }
      }
      // .find__circle-small

      &__circle-small {
            width: rem(95);
            height: rem(95);
            border-radius: 50%;
            background-color: #FFCA78;
            position: absolute;
            top: rem(171);
            right: rem(74);
            z-index: 5;
            @media (max-width:$mobile){
                   display: none;
            }
      }
}
//////////////////////////////////////////////////////////////////
.heatly {
      transform: translateY(rem(-110));
      position: relative;
      // .heatly__content
      @media (max-width:$mobile){
            transform: translateY(rem(-117));
      }

      &__content {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            position: relative;
      @media (max-width:$mobile){
             display: flex;
             flex-direction: column; 
      }
      }

      // .heatly__top

      &__top {
            @include adaptiveValue("width", 900,500 );
            @include adaptiveValue("height",960 ,375 );
            background:url(../img/heatly/bg-des.png);
            position: relative;
            @media (max-width:$mobile){
                 width :rem(375);
                 height: rem(198);
                 background: url(../img/heatly/bg-mob.png);
            }

      }

      // .heatly__circle

      &__circle {
            @include adaptiveValue("width",139 ,95 );
            @include adaptiveValue("height",139 ,95 );
            background-color: #FFCA78;
            border-radius: 50%;
            position: absolute;
            top: rem(65);
            left: rem(126);
            @media (max-width:$mobile){
                   width: rem(60); 
                   height: rem(60);
                   left: rem(298);
                   top: rem(-30);
                  
            }
      }

      // .heatly__title

      &__title {
            font-family: 'Effra';
            font-style: normal;
            font-weight: 500;
            @include adaptiveValue("font-size",56 ,24 );
            @include adaptiveValue("line-height", 68, 29);
            color: #FFFFFF;
            @include adaptiveValue("padding-top", 354, 70);
            @include adaptiveValue("padding-left",201 ,0 );
            @include adaptiveValue("padding-right",135 ,0 );
            @media (max-width:$mobile){
                  font-weight: 500;
                  font-size: rem(24);
                  line-height: rem(29);
                  text-align: center; 
                  padding-top: rem(70);
                  padding-right: rem(47);
                  padding-left: rem(48);

            }
      }

      // .heatly__bottom

      &__bottom {
      }

      // .heatly__container

      &__container {
      }

      // .heatly__information

      &__information {
            @include adaptiveValue("padding-right",202 ,0 );
            display: flex;
            flex-direction: column;
            @include adaptiveValue("gap",104 ,40 );
            @include adaptiveValue("padding-top",215 ,33 );
            @include adaptiveValue("padding-left",40 ,0 );
            @media (max-width:$mobile){
                   padding-right: rem(0); 
            }
      }

      // .heatly__blok

      &__blok {
            display: flex;
            align-items: center
      }
      .blok-1{
            @include adaptiveValue("gap",82,20 );
            @media (max-width:$mobile){
                   img{
                        width: rem(46.4);
                        height: rem(37.8)
                   } 
            }
           
      }
      .blok-2{
            @include adaptiveValue("gap",98 ,28 );
            @media (max-width:$mobile){
                  img{
                       width: rem(39.2);
                       height: rem(43.6)
                  } 
           }
      }
      .blok-3{
            @include adaptiveValue("gap",99 ,30 );
            @media (max-width:$mobile){
                  img{
                       width: rem(37.7);
                       height: rem(48.1)
                  } 
           }
      }
      // .heatly__subtitle

      &__subtitle {
            font-family: 'Effra';
            font-style: normal;
            font-weight: 500;
            @include adaptiveValue("font-size",30 ,14 );
            @include adaptiveValue(" line-height",36 ,17 );
            @media (max-width:$mobile){
                  font-weight: 500;
                  font-size: rem(14);
                  line-height: rem(17); 
            }
      }

      // .heatly__decor-1

      &__decor-1 {
            position: absolute;
            @include adaptiveValue("top",682 ,382 );
            @include adaptiveValue("left",202 ,100 );
            z-index: 2;
            transition:transform 0.5s ;
            @media (max-width:$mobile){
                   top: rem(488); 
                   left: rem(0);
            }
            
           
      }
      .hhv{
            @media (any-hover: hover){
                  &:hover{
                        
                        transform: scale(1.1);
                        z-index: 3;
                  }
            }

      }

      // .heatly__decor-2

      &__decor-2 {
            position: absolute;
            @include adaptiveValue("top",859 ,382 );
            @include adaptiveValue("right",321 ,100 );
            transition:transform 0.5s ;
            @media (max-width:$mobile){
                   right: 0; 
                   top: rem(553);
            }
      }
}
/////////////////////////////////////////////
.tell {
      position: relative;
      @include adaptiveValue("padding-top",408 ,282 );
      // .tell_decor-1
      @media (max-width:$mobile){
             padding-top: rem(215); 

      }

      &_decor-1 {
            position: absolute;
            @include adaptiveValue("top",425,0 );
            @include adaptiveValue("left",147 ,0 );
            transition: all 0.8s;
            @media (any-hover: hover){
                  &:hover{
                        transform: rotate(-90deg);
                  }
            }
            @media (max-width:$mobile){
                   display: none; 
            }

      }

      // .tell__container

      &__container {
      }

      // .tell__content

      &__content {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
      }

      // .tell__icon

      &__icon {
            padding-right: rem(5);
            @media (max-width:$mobile){
                   width: rem(50);
                   height: rem(50); 
                   padding-right: rem(0);
            }
      }

      // .tell__title

      &__title {
            @include adaptiveValue("padding-left",500 ,0 );
            @include adaptiveValue("padding-right",505,0 );
            padding-top: rem(50);
            @media (max-width:$mobile){
                  font-style: normal;
                  font-weight: 500;
                  font-size: rem(24);
                  line-height: rem(29);
                  text-align: center; 
                  padding-top: rem(30);
            }
      }

      // .tell__subtitle

      &__subtitle {
            // @include adaptiveValue("padding-left",480,0 );
            // @include adaptiveValue("padding-right",505,0 );  
            padding-top: rem(28);
            padding-right: rem(5);
            @media (max-width:$mobile){
                  font-weight: 400;
                  font-size: rem(14);
                  line-height: rem(23);
                  text-align: center;
                  color: #808080; 
                  padding-top: rem(13);
                  padding-left: rem(5);
                  br{
                        display: none
                  }
            }
      }
      &__btn{
            @include adaptiveValue("margin-top",52 ,27 );
            
      }
      // .tell__elipse-1

      &__elipse-1 {
      }

      // .tell__circle

      &__circle {
            @include adaptiveValue("top",410,200 );
            width: rem(95);
            height: rem(95);
            border-radius: 50%;
            position: absolute;
            background-color: #8172DD;
            top:0 ;
            z-index: 2;
           @include adaptiveValue("right",222 ,-35 );
           @media (max-width:$mobile){
             width: rem(60);
             height: rem(60); 

           }
      }

      // .tell__decor-2

      &__decor-2 {
            position: absolute;
            opacity: 0.1;
            @include adaptiveValue("top",165 ,0 );
            right: 0;
            @media (max-width:$mobile){
                   display: none; 
            }
      }

      // .tell__elipse-2

      &__elipse-2 {
      }

      // .tell__decor-3

      &__decor-3 {
            opacity: 0.1;
            position: absolute;
            right: 0;
            @include adaptiveValue("top",865 ,0 );
            @media (max-width:$mobile){
                   display: none; 
            }
      }

      // .tell__elipse-3

      &__elipse-3 {
           
      }
}
/////////////////////////////////////////////////////
.choose {
      @include adaptiveValue("padding-top",149 ,58 );
      position: relative;
      // .choose__content

      &__content {
            display: flex;
            @media (max-width:$mobile){
                   display: block; 
            }
      }

      // .choose__container

      &__container {
           
      }

      // .choose__swip

      &__swip {
            position: absolute;
            top:rem(300);
           @include adaptiveValue("left",202 ,20 );
           @media (max-width:$mobile){
             left: 0; 
             height: 100%;
             width: 100%;
             display: block;
             top: rem(309);
             padding-left:rem(20);
           }
      }

      // .choose__slider

      &__slider {
            width: rem(833);
            @media (max-width:$mobile){
                   width: rem(680); 
            }
      }

      // .choose__wrapper

      &__wrapper {
      }

      // .choose__slide

      &__slide {
      }

      // .choose__card

      &__card {
            @include adaptiveValue("padding-top",65 ,30 );
            background: #89D4A7;
            img{
                  @include adaptiveValue("padding-left",107 ,96 );
            }
            
      }

      // .choose__descr

      &__descr {
            @include adaptiveValue("padding-left", 30,20 );
            @include adaptiveValue("padding-top",52 ,21 );
      }

      // .choose__intro

      &__intro {
            font-weight: 600;
            font-size: rem(14);
           line-height: math.div(19 ,14 );
            color: #FFFFFF;
            opacity: 0.5;
            @media (max-width:$mobile){
                  opacity: 0.7;
                  padding-top: rem(6);
                  font-size: rem(12);
                  line-height: rem(16); 
            }
      }

      // .choose__name

      &__name {
            font-family: 'Effra';
            font-weight: 500;
            @include adaptiveValue("font-size",24,18 );
             line-height: math.div(29 ,24 );
            color: #FFFFFF;
            padding-top: rem(14);
            @media (max-width:$mobile){
                   padding-top: rem(10); 
            }
      }

      // .choose__subneme

      &__subneme {
            ont-weight: 400;
            @include adaptiveValue("font-size",16 ,14 );
            line-height: math.div(26 ,16 );
            color: #FFFFFF;
            opacity: 0.7;
            padding-top: rem(18);
            padding-right: rem(35);
            @media (max-width:$mobile){
                   padding-top: rem(15);
                   line-height: rem(19); 
            }
      }
      &__deco{
            position: absolute;
            @include adaptiveValue("top",868 ,0 );
           right: rem(203);
           transition: transform 0.5s;
           @media (any-hover: hover){
            &:hover{
                  transform: scale(1.1);
            }
           }
           @media (max-width:$mobile){
             display: none; 
           }
      }
      // .choose__card-bg

      &__card-bg {
            background: #9C91E0;
            @include adaptiveValue("padding-top",63 ,30 );
           img{
            @include adaptiveValue("padding-left",106 ,96 );
           }

           
      }

      // .choose__information

      &__information {
            @include adaptiveValue("width",900 ,375 );
            @include adaptiveValue("height",825 ,375 );
            background: url(../img/choose/bg.png);
           
            @include adaptiveValue("padding-top",234 ,53 );
            @include adaptiveValue("padding-left",252 ,0 );
            @media (max-width:$mobile){
                   padding-left: rem(0); 
                   background: url(../img/choose/bg-mob.png);
                   height: rem(370);
            }

         
      }

      // .choose__text

      &__text {
      }

      // .choose__title

      &__title {
            font-family: 'Effra';
            font-style: normal;
            font-weight: 500;
            @include adaptiveValue("font-size",56 ,24 );
            line-height: math.div( 67,54 );
            @include adaptiveValue("padding-right",252 ,0 );
            color: #FFFFFF;
            @media (max-width:$mobile){
                  font-weight: 500;
                  font-size: rem(24);
                  line-height: rem(29); 
                  text-align: center;
                  padding-right: rem(16);
            }
      }

      // .choose__subtitle

      &__subtitle {
            font-style: normal;
            font-weight: 400;
            @include adaptiveValue("font-size",20 ,14 );
            line-height: math.div( 32,20 );
            color: #FFFFFF;
            @include adaptiveValue("padding-top",30 ,12 );
            @include adaptiveValue("padding-right",202 ,0 );
            @media (max-width:$mobile){
                  font-weight: 400;
                  font-size: rem(14);
                  line-height: rem(23);
                  padding-left: rem(23);
                  padding-right: rem(43);
                  text-align: center;
                   br{
                        display: none

                   } 
            }
      }

      // .choose__shop

      &__shop {
            @include adaptiveValue("margin-top",36 ,20 );
          
            
      }

      // .choose__link

      &__link {
            display:flex;
            align-items: center;
            font-family: 'Effra';
            font-style: normal;
            font-weight: 500;
            @include adaptiveValue("font-size",20 ,14 );
            line-height: math.div( 24, 20);
            color: #FFFFFF;
            gap: rem(8);
            text-decoration: none;
            @media (max-width:$mobile){
                   padding-left: rem(134);
                   font-weight: 500;
                  font-size: rem(14);
                  line-height: rem(17);
                  gap:rem(5)
            }
      }
}
.card__choose{
      @include adaptiveValue("width",400 ,335 );
      @include adaptiveValue("height",494 ,352 );
      border-radius: rem(16);
      @media (max-width:$mobile){
             width: rem(335); 
             height: rem(352);
      }
}


///////////////////////////////////////////////////////////
.customer {
      padding-top: rem(51);
      @media (max-width:$mobile){
             padding-top: rem(290); 
      }
      // .customer__container

      &__container {
      }

      // .customer__content

      &__content {
      }

      // .customer__top

      &__top {
            @include adaptiveValue("padding-left",167 ,0 );
            @media (max-width:$mobile){
                   padding-left: rem(0); 
               
                   img{
                        width: rem(50);
                        height: rem(56.8);
                        margin-left: rem(143);
                        
                   }
            }
      }

      // .customer__title

      &__title {
            font-family: 'Effra';
            font-style: normal;
            font-weight: 500;
           @include adaptiveValue("font-size",56 ,20 );
           @include adaptiveValue("padding-top",42 ,30 );
            line-height: math.div( 68, 56);
            @media (max-width:$mobile){
                  font-weight: 500;
                  font-size:rem(20);
                  line-height: rem(24); 
                  padding-top: rem(32);
                  padding-left: rem(40);
                  padding-right: rem(35);
                  text-align: center;
                  br{
                        display: none;
                  }
            }
      }

      // .customer__subtitle

      &__subtitle {
            font-weight: 400;
            @include adaptiveValue("font-size",20 ,14 );
            line-height: math.div(33 ,20 );
            color: #808080;
            @include adaptiveValue("padding-top",29 ,15 );
            @media (max-width:$mobile){
                   font-size: rem(14); 
                   line-height: rem(23);
                   padding-top: rem(13);
                  padding-left: rem(5);
                  text-align: center;
                   br{
                        display: none;
                  }
            }
      }

      // .customer__bottom

      &__bottom {
            padding-left: rem(168);
            @media (max-width:$mobile){
                   padding-left: rem(0); 
            }
      }

      // .customer__swip

      &__swip {
            @media (max-width:$mobile){
                 
            }
      }

      // .customer__slider

      &__slider {
      @include adaptiveValue("margin-top",80 ,30 );
      width: rem(1396);
      @media (max-width:$mobile){
            width: rem(680);
      }
      }

      // .customer__wrapper

      &__wrapper {
      }

      // .customer__slide

      &__slide {
            
      }

      // .customer__card

      &__card {
            @include adaptiveValue("width",444 ,335 );
            @include adaptiveValue("height",360 ,360 );
            @include adaptiveValue("padding-top",40 ,30 );
            @include adaptiveValue("padding-left",30 ,20 );
            @include adaptiveValue("padding-right",34 ,20 );
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #FAF8F6;
            border-radius: rem(16);
            @media (max-width:$mobile){
                   width: rem(335); 
                   padding-top: rem(30);
                   padding-left: rem(20);
            }
      }

      // .customer__header

      &__header {
           
            
            img{
                  max-width: rem(120);
            }
         
      }

      // .customer__inner

      &__inner {
            font-family: 'Effra';
            font-style: normal;
            font-weight: 500;
            @include adaptiveValue("font-size",20 ,16 );
            line-height: math.div( 24,20 );
            padding-top: rem(20);
            @media (max-width:$mobile){
                 padding-top: rem(17);
                  font-size: rem(16);
                  line-height: rem(19); 
                  
            }
      }

      // .customer__subinner

      &__subinner {
            font-weight: 400;
            @include adaptiveValue("font-size",16 ,14 );
           line-height: math.div(28 ,16 );
           padding-top: rem(14);
           @media (max-width:$mobile){
             font-size: rem(14); 
             line-height: rem(24);
             padding-top: rem(13);
           }
      }

      // .customer__autor

      &__autor {
            display: flex;
            padding-bottom: rem(30);
            align-items: center;
            gap: rem(15);
            @media (max-width:$mobile){
                  padding-bottom: rem(20); 
            }
           
      }

      // .customer__name

      &__name {
            font-weight: 700;
            font-size: rem(16);
            line-height: rem(22);
            
            @media (max-width:$mobile){
                  font-weight: 600;
                  font-size: rem(14);
                  line-height: rem(19); 
            }
      }
}
///////////////////////////////////////////////
.started {
   
@include adaptiveValue("padding-top",100 ,60 );
position:relative ;
@media (max-width:$mobile){
       padding-top: rem(60); 
}
      // .started__container

      &__container {
            
          
      }

      // .started__content

      &__content {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
          img{
            width: rem(49.8);
            height: rem(46)
          }
           
      }

      // .started__title

      &__title {
           
            @include adaptiveValue("padding-top",49 ,29 );
            @media (max-width:$mobile){
                   padding-top: rem(32);
                   font-weight: 500;
                  font-size: rem(24);
                  line-height: rem(29);
                  text-align: center; 
                   
            }
      

      }

      // .started__subtitle

      &__subtitle {
            @include adaptiveValue("padding-top",34 ,15 );
            
            @media (max-width:$mobile){
                  padding-top: rem(12);
                  font-weight: 400;
                  font-size: rem(14);
                  line-height: rem(23);
                  text-align: center;
                   br{
                        display: none;
                      
                   } 
            }
      }

      // .started__actions

      &__actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: rem(32);
            @include adaptiveValue("margin-top",52 ,30 );
            @media (max-width:$mobile){
                   margin-top: rem(20); 
                   gap: rem(23);
            }
      }

      // .started__btn

      &__btn{
           
           @media (max-width:$mobile){
             margin-top: rem(2); 
           }
            
      }

      // .started__shop

      &__shop {
           @media (max-width:$mobile){
            font-weight: 500;
            font-size: rem(14);
            line-height: rem(17);
            padding-left: rem(3);
            img{
                  width: rem(10);
                  height: rem(10);
            } 
           }
          
      }

      // .started__decor-1

      &__decor-1 {
            position: absolute;
            @include adaptiveValue("top",190 ,100 );
            @include adaptiveValue("left",122 ,0 );
            transition: all 0.8s;
            @media (max-width:$mobile){
                   display: none; 
            }
          
           
           
            
      }

      // .started__decor-2

      &__decor-2 {
           position: absolute;
           @include adaptiveValue("top",77 ,30 );
           right: 0;
           @media (max-width:$mobile){
            width: rem(76);
            height: rem(80); 
            transform: rotate(-90deg);
            left: 0;
            top: rem(45);
     }
          
      }
 
}




