.page {

    // .page__profile

    &__profile {
    }

    // .page__container

    &__container {
    }

    // .page__content

    &__content {
    }
}
.profile {
    display: flex;
    @include adaptiveValue("gap",180 ,100 );
   
    // .profile__navigation

    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include adaptiveValue("padding-left",167 ,0 );
        padding-top: rem(43);

    }

    // .profile__title

    &__title {
        font-family: 'Effra';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 320%;
        color: #000000;
        transition: all 0.4s;
        @media (any-hover: hover){
            &:hover{
                transform: scale(1.1);
                
            }
        }

    }

    // .profile__title-bg

    &__title-bg {
        color: #D32D2C;

    }

    // .profile__content

    &__content {
       padding-top: rem(50);
      
        
    }

    // .profile__body

    &__body {
    }

    // .profile__blok

    &__blok {
    }

    // .profile__inner

    &__inner {
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        @include adaptiveValue("font-size",36 ,24 );
        line-height: math.div( 43, 36);
        @media (max-width:$mobile){
            font-weight: 500;
            font-size: rem(24);
            line-height: rem(29); 
        }
    }

    // .profile__cards

    &__cards {
        @include adaptiveValue("margin-top",40 ,25 );
        display: flex;
        flex-direction: column;
        gap: rem(20);
    }

    // .profile__card

    &__card {
        height: rem(230);
        @include adaptiveValue("width",1039 , 335);
        display: flex;

        padding: rem(31) rem(40);
        gap: rem(30);
        background: #FAF8F6;
        border-radius: rem(16);
        @media (max-width:$mobile){
            height: rem(402); 
            flex-direction: column;
            padding: rem(20) rem(20);
            width: rem(335);
            height: rem(402);
        }
    }

    // .profile__image

    &__image {
        border-radius: rem(8);
        @include adaptiveValue("width",120 ,100 );
        @include adaptiveValue("height",170 ,120 );
        display: flex;
        justify-content:center;
        align-items: center;
        @media (max-width:$mobile){
            width: rem(295);
            height: rem(132); 
       }
        img{
            transition: all 0.5s;
            @media (any-hover: hover){
                &:hover{
                    transform: scale(1.1);
                }
             
            }
            
        }
      

    }
    &__image-green {
background-color: #94D6BE;
        
        
    }
    &__image-rose {
        background-color: #DA91E0;
        
    }
    &__image-pur {
        background-color: #9C91E0;
        
    }
    // .profile__information

    &__information {
        flex: 1 1 auto;
    }

    // .profile__header

    &__header {
        display: flex;
        border-bottom:1px solid #a38383 ;
        
        
    }

    // .profile__left

    &__left {
        flex: 1 1 auto;
       
     
            
    }

    // .profile__name

    &__name {
        font-weight: 600;
        font-size: rem(14);
        line-height: rem(19);
        padding-top: rem(12);
        @media (max-width:$mobile){
            font-size: rem(12);
            line-height: rem(16);  
        }
        &-green{
            color: #6BB0A4;
        }
        &-rose{
            color: #9448A0;

        }
        &-pur{
            color: #6B5EBB;
        }
    }

    // .profile__subname

    &__subname {
        font-family: 'Effra';
        font-style: normal;
        font-weight: 400;
        font-size: rem(20);
        padding-top: rem(5);
        @include adaptiveValue("padding-bottom",25 ,20 );
        @media (max-width:$mobile){
            font-size: rem(16);
            line-height: rem(19); 
        }
       line-height: math.div(24 ,20 );
       &-gr{
        padding-right: rem(10);
       }
    }

    // .profile__right

    &__right {
    }

    // .profile__price

    &__price {
        font-weight: 600;
        font-size: rem(18);
        line-height: rem(25);
        @include adaptiveValue("padding-top",35 ,25 );
        @media (max-width:$mobile){
            font-size: rem(16);
            line-height: rem(22); 
        }
    }

    // .profile__bottom

    &__bottom {
        display: flex;
        @media (max-width:$mobile){
             flex-direction: column; 
        }
    }

    // .profile__every

    &__every {
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(19);
        opacity: 0.5;
        @include adaptiveValue("padding-top",27 ,15 );
        @media (max-width:$mobile){
            font-size: rem(12);
            line-height: rem(16); 
        }
    }

    // .profile__data

    &__data {
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(22);
        padding-top: rem(6);
        @media (max-width:$mobile){
            font-size: rem(14);
            line-height: rem(19); 
        }
    }

    // .profile__btn

    &__btn {
        color: #D32D2C;
        border: 2px solid #D32D2C;
        border-radius: rem(100);
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(19);
        transition: all 0.5s;
        margin-right: rem(10);
        @include adaptiveValue("margin-top",25 ,15 );
       
        
        @media (any-hover: hover){
            &:hover{
                transform: scale(1.1);
                background-color: #D32D2C;
                color: #FAF8F6;
            }
        }
        @media (max-width:$mobile){
           padding: rem(15) rem(103);
        }
    }

}
.profile {

    // .profile__body

    &__body {
    }

    // .profile__inner

    &__inner {
    }

    // .profile__image

    &__image {
    }

    // .profile__image-green

    &__image-green {
    }

    // .profile__name-green

    &__name-green {
    }

    // .profile__subname

    &__subname {
    }

    // .profile__price

    &__price {
    }

    // .profile__image-rose

    &__image-rose {
    }

    // .profile__name-rose

    &__name-rose {
    }

    // .profile__image-pur

    &__image-pur {
    }

    // .profile__name-pur

    &__name-pur {
    }
}
.order {

    // .order__title

    &__title {
    }

    // .order__header

    &__header {
        @include adaptiveValue("margin-top",40 ,20 );
    }

    // .order__head

    &__head {
    }

    // .order__shiping

    &__shiping {
        display: flex;
        justify-content: space-between;
    }

    // .order__data

    &__data {
        font-weight: 400;
@include adaptiveValue("font-size",18 ,14 );
line-height: math.div(25 ,18 );
color: #000000;
opacity: 0.5;
@media (max-width:$mobile){
    font-size: rem(14);
    line-height: rem(19); 
}
    }

    // .order__ship

    &__ship {
        font-weight: 400;
        font-size: rem(18);
        line-height: rem(25);
        @media (max-width:$mobile){
            font-size: rem(14);
            line-height: rem(19);
            opacity: 0.5; 
        }
    }

    // .order__number

    &__number {
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: rem(22);
        line-height: math.div(27 ,22 );
        text-align: left;
        padding-top: rem(9);
        @media (max-width:$mobile){
            font-size: rem(20);
            line-height: rem(24)
              
        }
    }

    // .order__footer

    &__footer {
    }
}
.spollers {

    // .spollers__item

    &__item {
    }

    // .spollers__title

    &__title {
        padding: rem(40) rem(40) rem(0) rem(40);
        @include adaptiveValue("width",1039 ,335 );
        background: #FAF8F6;
        border-radius: rem(16) rem(16) rem(0) rem(0);
        @media (max-width:$mobile){
             width: rem(335); 
        }
        
    }

    // .spollers__body

    &__body {
        background: #FAF8F6;
        border-radius: rem(0) rem(0) rem(16) rem(16);
        &-top{
            @include adaptiveValue("width",1039 ,335 );
            @include adaptiveValue("height",690 ,647 );
         
            @media (max-width:$mobile){
                 width: rem(335);
                 height: rem(647); 
            }

        }
        &-bottom{

        }

    }
}
.spoler {

    // .spoler__header

    &__header {
        padding: rem(40) rem(40) rem(0) rem(40);
    }

    // .spoler__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        @media (max-width:$mobile){
            padding: rem(30) rem(20) rem(0) rem(20); 
        }
        @media (max-width:$mobile){
             flex-direction: column; 
        }
    }

    // .spoler__card

    &__card {
        display: flex;
        gap: rem(30);
        &-rose{
           
        }
    }

    // .spoler__image

    &__image {
    }

    // .spoler__information

    &__information {
        padding-top: rem(15);
    }

    // .spoler__name

    &__name {
    }

    // .spoler__subname

    &__subname {
    }

    // .spoler__price

    &__price {
    }

    // .spoler__inner

    &__inner {
    }

    // .spoler__footer

    &__footer {
    }

    // .spoler__result

    &__result {
    }

    // .spoler__amount

    &__amount {
    }

    // .spoler__summ

    &__summ {
    }

    // .spoler__button

    &__button {
    }

    // .spoler__btn

    &__btn {
    }
}
.button {
}

